*~
*.elc
/early-init-local.el
/init-local.el
/init-preload-local.el
/custom.el
/custom-dump.el
/.cache
/.last-package-update-day
/.lsp-session-v1
/.mc-lists.el
/eln-cache
/bookmarks
/elpa
/multisession
/places
/projectile-bookmarks.eld
/projectile.cache
/projects
/recentf
/tramp
/transient
/tree-sitter
